<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="
    margin:0;
    padding:0;
    background-color:#1b1b1b;
    font-family:Arial, Helvetica, sans-serif;">

<table width="100%" cellpadding="0" cellspacing="0" style="background-color:#1b1b1b;">
    <tr>
        <td style="padding:10px 5px;">

            <table width="100%" cellpadding="0" cellspacing="0"
                   style="
                   max-width:600px;
                   margin:0 auto;
                   border:4px solid #d4d1c4;
                   background-color: rgb(108,161,161);;
                   border-radius:5px;
                   overflow:hidden;
                   ">

                <!-- Header -->
                <tr>
                    <td style="
                        padding:20px 10px;
                        text-align:center;
                    ">
                        <h1 style="
                            margin:0;
                            color:#d4d1c4;
                            font-size:26px;
                            font-weight:600;
                        ">
                            Vielen Dank für deine Anfrage!
                        </h1>
                    </td>
                </tr>


                <!-- Content -->
                <tr>
                    <td style="
                        background-color:#1b1b1b;
                        padding:30px 20px;
                        color:#d4d1c4;
                        font-size:16px;
                        line-height:1.6;
                    ">

                        <p style="margin-top:0;">
                            Hallo <strong>{{ name }}</strong>,
                        </p>

                        <p>
                            Ich habe deine Anfrage erhalten.
                            <br>
                            Vielen Dank schon mal für dein Interesse! ♥️
                            <br>
                            Ich melde mich innerhalb der nächsten zwei Tage umgehend bei dir! <br>
                        </p>


                        <table width="100%" cellpadding="0" cellspacing="0"
                               style="
                               margin:25px 0;
                               background-color:#1b1b1b;
                               border-radius:8px;
                               ">
                        </table>


                        <p style="margin-bottom:0;">
                            Liebe Grüße
                            <br>
                            <strong style="color:rgb(108,161,161); font-size:18px;">
                                 Josh 🎷
                            </strong>
                        </p>

                    </td>
                </tr>


                <!-- Footer -->
                <tr>
                    <td style="
                        padding:18px;
                        text-align:center;
                    ">
                        <p style="
                            margin:0;
                            color:#d4d1c4;
                            font-size:12px;
                        ">
                            Diese Nachricht wurde automatisch versendet.
                        </p>
                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>

</body>
</html>